# OS
.DS_Store
Thumbs.db

# Composer
composer.phar
composer.lock

# Sass
.sass-cache

# CSS
/app/assets/stylesheets/main.css

# Node
/node_modules
/npm-debug.log

# bower
/bower_components

# Laravel
/bootstrap/compiled.php
/vendor
.env

# Public var files
/public/_*
/public/var/*

# Testing
/report/

# phpstorm
.idea
